@model GStore.Models.ViewModels.ColorStutusChangeVM

@{
    ViewData["Title"] = Model.TitleText;
}

<h1>@Model.TitleText</h1>
<br />
<h3>@Model.WarningText</h3>
<br />
<div>
    <h4>Цвят</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.colorSetVM.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.colorSetVM.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.colorSetVM.ColorCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.colorSetVM.ColorCode)
        </dd>
        <dt class="col-sm-2">
            Преглед:
        </dt>
        <dd class="col-sm-10">
            <div style="border-radius:5px; width:60px;height:42px;background-color:@Model.colorSetVM.ColorCode"></div>
        </dd>
        <dt class="col-sm-2">
            <text>Активен Статус:</text>
        </dt>
        <dd class="col-sm-10">
            <strong>@(Model.colorSetVM.IsActive ? "Активиран" : "Деактивиран")</strong>
        </dd>
    </dl>
    <form asp-action="ChangeStatus">
        <input type="hidden" asp-for="@Model.colorSetVM.Id" />
        <input type="submit" value=@Model.ButtonText class="btn btn-danger" /> |
        <a asp-action="Index">Отказ и oбратно към листа с размери</a>
    </form>
</div>