@model GStore.Models.ViewModels.L1SetStutusChangeVM

@{
    ViewData["Title"] = Model.TitleText;
}

<h1>@Model.TitleText</h1>
<br />
<h3>@Model.WarningText</h3>
<br />
<div>
    <h4>Категория</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.l1SetVM.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.l1SetVM.Name)
        </dd>
        <dt class="col-sm-2">
            <text>Активен Статус:</text>
        </dt>
        <dd class="col-sm-10">
            <strong>@(Model.l1SetVM.IsActive ? "Активна" : "Деактивирана")</strong>
        </dd>
    </dl>
    <form asp-action="ChangeStatus">
        <input type="hidden" asp-for="l1SetVM.Id" />
        <input type="submit" value=@Model.ButtonText class="btn btn-danger" /> |
        <a asp-action="Index">Отказ и oбратно към листа с категории</a>
    </form>
</div>
