@model GStore.Models.ViewModels.SizeStutusChangeVM

@{
    ViewData["Title"] = Model.TitleText;
}

<h1>@Model.TitleText</h1>
<br />
<h3>@Model.WarningText</h3>
<br />
<div>
    <h4>Цвят</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sizeSetVM.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sizeSetVM.Name)
        </dd>
        <dt class="col-sm-2">
            <text>Активен Статус:</text>
        </dt>
        <dd class="col-sm-10">
            <strong>@(Model.sizeSetVM.IsActive ? "Активиран" : "Деактивиран")</strong>
        </dd>
    </dl>
    <form asp-action="ChangeStatus">
        <input type="hidden" asp-for="@Model.sizeSetVM.Id" />
        <input type="submit" value=@Model.ButtonText class="btn btn-danger" /> |
        <a asp-action="Index">Отказ и oбратно към листа с размери</a>
    </form>
</div>